PORT=5000
FRONTEND_ORIGIN=http://localhost:8085,http://127.0.0.1:8085
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
NOAA_TROPICAL_BASE_URL=https://mapservices.weather.noaa.gov/tropical/rest/services/tropical/NHC_tropical_weather_summary/MapServer
EXTERNAL_API_KEY=
